# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.dreadhalls.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Vincent\dev\OpenCourseWare\GD50\09-dreadhalls\project\dreadhalls\.idea\.idea.dreadhalls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
